@import 'utils/colors.sass'
@import 'blocks/mixins'

.DocPage
  display: flex
  margin: 120px 0

.DocPage__menu
  width: 350px
  flex-shrink: 0

.DocPage__menu-title
  +size(big)
  color: $light-body-color
  margin-bottom: 10px

.DocPage__menu-back a
  display: block
  margin-top: 30px
  text-decoration: none
  color: $azure-color
  +size(small)

  &:hover
    text-decoration: underline

.DocPage__menu-page
  margin-bottom: 14px

  &:last-child
    margin-bottom: 20px

  a
    text-decoration: none
    color: $base-body-color

    &:hover
      color: $red-color

    &.is-active
      color: $red-color
      +weight(bold)

.DocPage__content-title
  +size(hero)
  +weight(bold)

.DocPage__content-category
  color: $light-body-color
  margin-bottom: 10px
  +size(big)

.DocPage__content
  flex: 1
  padding-left: 80px
  max-width: 100%
  overflow-x: auto

.DocPage__content-body
  font-size: 18px
  line-height: 1.7

  h1, h2, h3, h4, h5, h6, p, ul, ol
    max-width: 75%

  ul p, ol p
    max-width: none

  h1, h2, h3, h4, h5, h6
    position: relative
    +weight(bold)

    &:hover .heading-anchor span:before
      content: "¶"
      position: absolute
      left: 0px
      top: 0px
      bottom: 0px

  .note
    background-color: $smoke-color
    padding: 5%
    margin-bottom: 35px
    border-radius: 3px
    margin-left: -5%
    margin-right: -5%
    max-width: 110%
    width: 110%
    font-size: 0.9em
    box-sizing: border-box

    strong
      display: block
      text-transform: uppercase
      font-size: 15px
      margin-bottom: 8px

  i, em
    font-style: italic

  strong
    +weight(bold)

  a
    color: $red-color
    text-decoration: none

    &:hover
      text-decoration: underline

    code
      background-color: transparent
      padding: 0

  a[href*="//"]:after
    content: ""
    background: url('../../images/external-link.svg') no-repeat center center
    background-size: contain
    vertical-align: middle
    display: inline-block
    width: 20px
    height: 20px
    margin-left: 4px
    white-space: nowrap

  hr
    border: 0
    height: 1px
    background-color: $border-color
    margin: 80px 0

  h3
    font-size: 35px
    line-height: 1.3
    margin: 90px 0 35px

  h4
    font-size: 25px
    line-height: 1.3
    margin: 15px 0

  h5
    font-size: 23px
    line-height: 1.3
    margin: 15px 0

  p
    margin-bottom: 20px

  ul, ol, blockquote
    padding-left: 30px

  ul li
    list-style-type: disc
    margin-bottom: 15px

  ol li
    list-style-type: decimal
    margin-bottom: 20px

  code
    font-family: "Source Code Pro", Menlo, monospace
    background-color: $smoke-color
    padding: 0.2em 0.3em 0.1em 0.3em
    border: 1px $border-color
    border-radius: 3px

  img
    display: block
    margin: 50px
    margin-left: -5%
    margin-right: -5%
    max-width: 110%
    width: 110%
    border-radius: 4px
    // box-shadow: 0 2px 3px rgba(black, 0.2)

  table
    margin-top: 50px
    margin-bottom: 50px

    th, td
      text-align: left
      padding: 10px
      border-bottom: 1px solid $border-color


  .gatsby-highlight
    margin: 50px 0
    font-size: 15px

    pre
      overflow: auto
      padding: 30px

    code
      background-color: transparent
      border: 0
      padding: 0
      border-radius: 0

  .gatsby-resp-image-link
    margin: 60px 0

  .gatsby-resp-image-background-image
    border-radius: 4px
    // box-shadow: 0 5px 10px rgba(black, 0.1)

  a.anchor
    margin-left: -35px
    svg
      width: 25px
      height: 25px

