@import 'utils/colors.sass'
@import 'blocks/mixins'

.BlogAside__cols-right
  margin-top: 90px

@media screen and (max-width: 1199px)
  .BlogAside
    .sticky-inner-wrapper
      position: static !important
      transform: none !important
      width: auto !important

  .BlogAside__cols-aside
    margin-top: 50px
    padding-top: 50px
    border-top: 2px solid $border-color

  .BlogAside__mobile-title
    +size(hero)
    margin-bottom: 50px

@media screen and (min-width: 1200px)
  .BlogAside__mobile-title
    display: none

  .BlogAside
    display: flex
    flex-direction: row-reverse
    align-items: start
    justify-content: space-between

  .BlogAside__cols-content
    flex: 1
    margin-left: 80px

  .BlogAside__cols-aside
    width: 330px
    margin-top: 0

.BlogAside__title
  +size(bigger)
  margin-bottom: 30px

.BlogAside__section
  margin-bottom: 30px

  &:last-child
    margin-bottom: 0

.BlogAside__section-title
  color: $light-body-color
  margin-bottom: 20px
  text-transform: uppercase
  +weight(bold)
  +size(small)

.BlogAside__section-content
  +size(small)

  p
    margin-bottom: 10px

    &:last-child
      margin-bottom: 0

  a
    color: $azure-color

.BlogAside__follow
  margin-bottom: 10px

  a
    display: inline-block
    vertical-align: middle
    text-decoration: none
    color: $base-body-color

    &:hover
      text-decoration: underline

  img
    display: inline-block
    vertical-align: middle
    margin-right: 1em
    height: 20px
