@import 'utils/colors.sass'
@import 'blocks/mixins'

.LandingPage__works
  background: url('../../images/second-wave.svg')
  background-position: bottom center
  background-repeat: no-repeat
  background-size: 100% 50%

.LandingPage__works-inner
  display: flex
  align-items: center
  min-height: 70vh

.LandingPage__works-logos
  flex: 1
  text-align: center

  .react-reveal
    display: inline-block

  img
    height: 180px
    display: inline-block
    position: relative
    margin: 0 30px

.LandingPage__works-content
  flex: 1
  display: flex
  align-items: center
  justify-content: center

.LandingPage__works-content-content
  a
    color: $azure-color

  ol
    list-style: decimal inside

  li
    margin-bottom: 8px

.LandingPage__works-content-inner
  padding: 80px
  background-color: white
  box-shadow: 0px 10px 25px 0 rgba(black, 0.12)
  border-radius: 15px

.LandingPage__works-content-actions
  margin-top: 40px

.LandingPage__works-content-title
  +size(bigger)
  margin-bottom: 40px

// $gutter: 5%

// .LandingPage__logos
//   margin-bottom: 20px

//   img
//     height: 120px

// .LandingPage__title
//   +size(bigger)
//   margin-bottom: 30px

// .LandingPage__description
//   p
//     margin-bottom: 10px

// .LandingPage
//   padding: 80px 50px
//   display: flex

// .LandingPage__content
//   width: 300px
//   margin-right: 120px

//   a
//     color: $azure-color

//   @media screen and (min-width: 1300px)
//     width: 500px

// .LandingPage__gallery
//   flex: 1

// .LandingPage__gutter-sizer
//   width: $gutter

// .LandingPage__grid-sizer,
// .LandingPage__website
//   width: 100%

// .LandingPage__website
//   margin-bottom: 30px
//   border-radius: 10px
//   overflow: hidden
//   box-shadow: 0px 10px 25px 0 rgba(black, 0.12)

// .LandingPage__grid-sizer,
// .LandingPage__website
//   width: (100% - 1 * $gutter) / 2

