@import url("https://use.typekit.net/iok7hkr.css")
@import url("https://fonts.googleapis.com/css?family=Spectral:400,400i,700,700i")

@import 'blocks/mixins'
@import 'blocks/reset.sass'

@import 'blocks/space.sass'
@import 'blocks/text.sass'
@import 'blocks/button.sass'
@import 'blocks/wrap.sass'

body

body.no-scroll
  overflow: hidden !important
  height: 100% !important

.chat-support
  position: fixed
  bottom: 25px
  right: 25px
  background: linear-gradient(221.82deg, #FF7059 0%, #FF664E 63.02%, #F2543A 100%);
  color: white
  border-radius: 60px
  text-decoration: none
  font-weight: 500
  box-shadow: 0 0 8px 2px rgba(black, 0.15)
  z-index: 2147483001

  &:hover
    background: #FF7059

.chat-support.is-closed:before,
.chat-support.is-open:before
  content: ""
  background: url('../../images/chat.svg')
  background-size: 25px
  background-position: center center
  display: inline-block
  background-repeat: no-repeat
  vertical-align: middle
  display: block
  height: 50px
  width: 50px
  line-height: 50px

  @media screen and (min-width: 800px)
    background-size: 30px
    height: 60px
    width: 60px
    line-height: 70px

#kayako-messenger
  right: -4px !important
  bottom: 60px !important

.cookieConsent
  position: fixed
  bottom: 0
  left: 0
  right: 0
  z-index: 99999999999999
  max-width: 100%
  background-color: rgba(#333, 0.8)
  box-sizing: border-box
  color: white
  font-size: 13px
  padding: 15px

  a
    color: white

  button
    display: block
    background: rgba(white, 0.1)
    padding: 9px 16px 6px
    text-transform: uppercase
    color: white
    +size(smaller)
    +weight(bold)
    border-radius: 3px
    cursor: pointer
    box-sizing: border-box
    text-decoration: none
    margin-top: 8px
    width: 100%

  @media screen and (min-width: 500px)
    display: flex
    align-items: center
    padding: 8px 15px

    > div
      flex: 1

    button
      margin: 0
      width: auto
