@import 'utils/colors.sass'
@import 'blocks/mixins'

.HomeHero__or-discover
  display: inline-block
  vertical-align: middle
  margin-left: 20px
  color: $base-body-color
  text-decoration: none

  &:hover
    text-decoration: underline

  img
    display: inline-block
    vertical-align: middle
    margin-left: 5px

.HomeHero__browser .Browser__content
  overflow: hidden

  video
    display: block

.HomeHero__description
  margin-bottom: 40px

.HomeHero__email
  padding: 15px
  font-family: inherit
  font-size: inherit
  border: 1px solid $border-color
  background-color: white
  border-radius: 10px
  width: 300px
  margin-right: 15px

  &:focus
    border-color: darken($border-color, 10%)
    outline: none

.HomeHero__subscribe
  display: flex
  align-items: center
  justify-content: center

@media screen and (max-width: 999px)
  .HomeHero
    background: url('../../../images/first-wave.svg')
    background-position: center center
    background-size: 100% 60%
    background-repeat: no-repeat
    margin: 90px 0 0
    padding: 50px 30px
    text-align: center

  .HomeHero__title
    +size(bigger)
    +weight(bold)
    margin-bottom: 30px

  .HomeHero__description
    +size(normalBig)

  .HomeHero__browser
    margin-top: 60px

    video
      width: 100%

@media screen and (min-width: 700px)
  .HomeHero__browser
    perspective: 600px

    .Browser__content video
      width: 100%

@media screen and (min-width: 1000px)
  .HomeHero
    background: url('../../../images/first-wave.svg')
    background-position: bottom center
    background-size: 100% 100%
    position: relative
    overflow: hidden
    text-align: center

  .HomeHero__inner
    max-width: 1440px
    margin: 0 auto
    padding: 0 30px

  .HomeHero__screenshot-image
    display: block
    width: 50vw

  .HomeHero__title
    +size(bigger)
    +weight(bold)
    margin-bottom: 20px

  .HomeHero__text-container
    box-sizing: border-box
    height: 50vh
    min-height: 440px
    display: flex
    align-items: center
    justify-content: center
    max-width: 1000px
    margin: 0 auto

  .HomeHero__browser
    max-width: 1154px
    margin: 0 auto

@media screen and (min-width: 1000px) and (max-width: 1249px)
  .HomeHero
    margin-top: 60px

@media screen and (min-width: 1200px)
  .HomeHero
    background-repeat: repeat-x
    background-size: 100% 70%
    background-position: center 0

  .HomeHero__title
    font-size: 75px
    line-height: 1.1

  .HomeHero__description
    font-size: 30px
    line-height: 1.1
    font-family: freight-text-pro
