@import 'blocks/mixins'

.IndexPage__gradient
  background: url('../images/footer-bg.svg')
  background-repeat: no-repeat
  background-position: bottom center
  padding-bottom: 1px

  @media screen and (max-width: 800px)
    background-size: 800px 400px

  @media screen and (min-width: 801px)
    background-size: contain

.IndexPage__b
  margin-top: 30px
  text-align: center

  @media screen and (min-width: 700px)
    margin-top: 120px

.IndexPage__b-title
  +size(big)
  line-height: 1.1
  font-weight: 500
  margin-bottom: 20px

  @media screen and (min-width: 700px)
    +size(smallHero)

.IndexPage__b-description
  font-family: $serif-font
  max-width: 950px
  margin: 0 auto

  @media screen and (min-width: 700px)
    +size(big)
