@import 'utils/colors.sass'
@import 'blocks/mixins.sass'

.PricingPage__title
  +size(bigger)
  text-align: center
  margin-bottom: 10px

  @media screen and (min-width: 600px)
    +size(hero)

.PricingPage__subtitle
  +size(normalBig)
  text-align: center
  margin-bottom: 60px
  font-weight: 300

.PricingPage__recap
  display: flex
  align-items: center
  margin: 100px -10px 0

.PricingPage__recap-item
  border: 1px solid $border-color
  border-radius: 4px
  box-shadow: 0 1px 4px rgba(black, 0.1)
  text-align: center
  margin: 0 10px
  flex: 1

  &:nth-child(1) .PricingPage__recap-item-plan-name
    color: #10b6ce

  &:nth-child(2) .PricingPage__recap-item-plan-name
    color: #ef6424

  &:nth-child(3) .PricingPage__recap-item-plan-name
    color: #834abd

.PricingPage__recap-item-plan-name
  text-transform: uppercase
  +size(big)
  +weight(bold)
  margin-bottom: 10px
  color: $light-body-color
  margin: 40px 20px 30px

.PricingPage__recap-item-for
  margin: 20px 20px 30px
  line-height: 1.2

.PricingPage__recap-item-price
  height: 60px
  margin-bottom: 40px
  position: relative

.PricingPage__recap-item-price-free
  color: $light-body-color
  +weight(bold)
  +size(bigger)
  position: absolute
  top: 20%
  left: 20px
  right: 20px

.PricingPage__recap-item-unlimited
  text-align: center
  margin: 20px 0
  color: $light-body-color
  +size(small)

.PricingPage__recap-item-price-amount
  +size(hero)
  line-height: 1
  margin: 0 20px

.PricingPage__recap-item-price-period
  line-height: 1
  margin: 0 20px
  color: $light-body-color

.PricingPage__recap-item-price-prorated
  text-transform: uppercase
  +size(smaller)
  +weight(bold)
  margin-bottom: 10px
  color: $ultra-light-body-color
  margin: 25px 20px 0px

.PricingPage__recap-item-specs
  position: relative
  clear: both
  height: 121px

.PricingPage__recap-item-spec
  padding: 22px 20px
  line-height: 1
  border-top: 1px solid $border-color
  width: 50%
  box-sizing: border-box
  float: left

  &:nth-child(odd)
    border-right: 1px solid $border-color

.PricingPage__recap-item-everything
  padding: 10px 40px 8px
  line-height: 1.4
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: $dark-violet-color
  display: flex
  align-items: center

  span
    width: 100%
    text-align: center

.PricingPage__recap-item-cta
  display: block
  background: linear-gradient(221.82deg, #FF7059 0%, #FF664E 63.02%, #F2543A 100%);
  border-radius: 10px
  color: white
  text-decoration: none
  padding: .8em 1.2em .7em
  transition: opacity 200ms ease-in-out
  vertical-align: middle
  line-height: 1
  margin: 20px

  &:hover
    opacity: 0.8

.PricingPage__recap-item--blackFriday
  z-index: 2
  background-color: white

  @media screen and (min-width: 1371px)
    transform: scale(1.15)

  .PricingPage__recap-item-price
    height: 80px

  .PricingPage__recap-item-ribbon
    background-color: $red-color
    line-height: 1.2
    padding: 20px
    color: white
    border-radius: 4px 4px 0 0
    text-transform: uppercase
    font-weight: 500

    span
      font-size: 0.7em
      display: block
      text-transform: none
      font-weight: 400

  .PricingPage__recap-item-price-amount
    color: $red-color
    font-weight: 500

  .PricingPage__recap-item-discount
    color: $light-body-color
    margin-bottom: 8px
    text-transform: uppercase
    color: $red-color
    font-size: 0.9em
    font-weight: 500

    span
      text-decoration: line-through
      font-weight: 400
      color: $base-body-color

.PricingPage__recap-item-price-amount__discount
  color: #999
  text-decoration: line-through
  padding-right: 0.3em

.PricingPage__recap-item--enterprise
  background-color: $violet-color
  color: white
  border-color: $dark-violet-color

  .PricingPage__recap-item-plan-name,
  .PricingPage__recap-item-price-free,
  .PricingPage__recap-item-unlimited
    color: white

  .PricingPage__recap-item-unlimited
    visibility: hidden

  .PricingPage__recap-item-price-free a
    color: white
    text-decoration: none
    border-bottom: 1px dashed rgba(white, 0.5)
    transition: opacity 0.2s ease-in-out

    &:hover
      opacity: 0.9

.PricingPage__free-plan
  margin: 100px 0
  border-radius: 10px
  text-align: center

.PricingPage__free-plan-title
  +size(bigger)
  margin-bottom: 10px
  color: $azure-color

  @media screen and (min-width: 600px)
    +size(smallHero)

.PricingPage__free-plan-description
  color: $light-body-color
  font-weight: 300
  margin-bottom: 30px
  +size(normalBig)

.PricingPage__free-plan-features
  margin-bottom: 30px

.PricingPage__free-plan-credit-card
  +size(small)
  margin-top: 10px
  color: $light-body-color

.PricingPage__details
  width: 100%
  border-top: 1px solid $border-color
  border-left: 1px solid $border-color
  table-layout: fixed

  td
    border-bottom: 1px solid $border-color
    border-right: 1px solid $border-color
    vertical-align: middle

.PricingPage__details-header-cell
  width: 27%

.PricingPage__details-header
  padding: 33px
  display: flex
  align-items: center
  justify-content: center

.PricingPage__details-price
  text-align: center
  height: 150px
  position: relative
  display: flex
  align-items: center
  justify-content: center

.PricingPage__details-price-free
  color: $light-body-color
  +weight(bold)
  +size(big)

.PricingPage__details-header-title
  color: $light-body-color
  +weight(bold)
  +size(big)
  margin-bottom: 30px

.PricingPage__details-plan-name
  text-align: center
  padding: 35px 20px
  text-transform: uppercase
  +size(small)
  +weight(bold)
  color: $light-body-color
  width: 18%

.PricingPage__details-feature-name
  padding: 10px 33px
  color: $light-body-color

.PricingPage__details-feature-value
  text-align: center
  padding: 10px 20px

.PricingPage__details-price-amount
  +size(bigger)
  line-height: 1
  margin: 0 20px

.PricingPage__details-price-period
  line-height: 1
  margin-bottom: 25px
  +size(small)

.PricingPage__details-price-prorated
  text-transform: uppercase
  +size(smaller)
  +weight(bold)
  color: $ultra-light-body-color
  margin-top: 25px

.PricingPage__details-cta a
  display: block
  background: linear-gradient(221.82deg, #FF7059 0%, #FF664E 63.02%, #F2543A 100%);
  border-radius: 10px
  color: white
  text-decoration: none
  padding: .8em 1.2em .7em
  transition: opacity 200ms ease-in-out
  vertical-align: middle
  line-height: 1
  text-align: center
  margin: 10px

  &:hover
    opacity: 0.8

.Tooltip
  position: relative
  display: inline-block

  img
    display: inline-block
    vertical-align: middle
    margin-left: 3px
    height: 14px

.Tooltip__hint
  opacity: 0
  display: none
  transition: all 200ms 300ms ease-in-out
  background-color: $dark-violet-color
  border-radius: 7px
  z-index: 1
  position: absolute
  bottom: 100%
  transform: translateX(-50%)
  padding: 14px
  color: white
  +size(small)
  min-width: 250px
  line-height: 1.2
  margin-bottom: 13px
  text-align: left
  pointer-events: none
  left: 50%

  &:after
    content: ""
    width: 0px
    position: absolute
    bottom: -10px
    left: 50%
    transform: translateX(-50%)
    border-top: 10px solid $dark-violet-color
    border-right: 10px solid transparent
    border-left: 10px solid transparent

  .Tooltip:hover &
    opacity: 1
    display: block

.PricingPage__details .Tooltip__hint
  left: 0%
  margin-left: -20px
  transform: none

  &:after
    left: 0
    margin-left: 30px

.PricingPage__plan-changer
  text-align: center
  margin-bottom: 30px

  @media screen and (min-width: 1371px)
    display: none

.PricingPage__plan-changer__plan
  padding: 6px 10px
  display: inline-block
  vertical-align: middle
  margin: 0 5px
  border: 0
  border-radius: 4px
  +size(small)

.PricingPage__plan-changer__plan--active
  background: linear-gradient(221.82deg, #FF7059 0%, #FF664E 63.02%, #F2543A 100%);
  color: white

@media screen and (max-width: 1370px)
  .PricingPage__recap
    max-width: 350px
    margin: 0 auto

  .PricingPage__recap-item
    margin: 0

  .PricingPage__details
    +size(small)

  .PricingPage__details-feature-name,
  .PricingPage__details-feature-value
    padding: 10px

  .PricingPage__recap-item,
  .PricingPage__details-feature-value,
  .PricingPage__details-plan-name,
  .PricingPage__details-price-cell,
  .PricingPage__details-cta,
  .PricingPage__details-header-row
    display: none

  .PricingPage__recap-item--active,
  .PricingPage__details-feature-value--active,
  .PricingPage__details-plan-name--active,
  .PricingPage__details-price-cell--active,
  .PricingPage__details-cta--active
    display: table-cell

.PricingPage__faq
  margin: 180px auto 120px
  max-width: 1100px

.PricingPage__faq-title
  +size(bigger)
  margin-bottom: 90px
  text-align: center

  @media screen and (min-width: 900px)
    +size(hero)

@media screen and (min-width: 900px)
  .PricingPage__faq-questions
    column-count: 2
    column-gap: 100px

.PricingPage__faq-item
  margin-bottom: 40px
  display: inline-block
  width: 100%

.PricingPage__faq-item-question
  margin-bottom: 14px
  color: $light-body-color
  +size(normalBig)

  @media screen and (min-width: 900px)
    +size(big)

.PricingPage__faq-item-answer
  +size(small)

.PricingPage__billing
  text-align: center
  margin-bottom: 80px

.PricingPage__billing-group-item
  padding: 10px 15px
  border: 1px solid $border-color
  text-transform: uppercase
  display: inline-block
  text-decoration: none
  color: $light-body-color
  +weight(bold)
  +size(small)

  &:first-child
    border-radius: 10px 0 0 10px
    border-right: 0

  &:last-child
    border-radius: 0 10px 10px 0

.PricingPage__billing-group-item--active
  background-color: $azure-color
  border-color: $azure-color
  color: white

