@import 'utils/colors.sass'
@import 'blocks/mixins.sass'
@import 'blocks/form.sass'

.SupportPage
  max-width: 600px
  margin: 0 auto

.SupportPage__people
  margin-bottom: 80px
  text-align: center

  img
    height: 25%
    width: 25%
    border-radius: 50%
    transform: scale(1.4)

    @media screen and (min-width: 1000px)
      height: 150px
      width: 150px

.SupportPage__title
  +size(hero)
  font-weight: 500
  margin-bottom: 20px
  text-align: center

.SupportPage__search-line
  display: flex

.SupportPage
  .Search
    display: inline-block
    margin-top: 0
    flex-grow: 1
    margin-left: 8px

  .react-autosuggest__container--open .react-autosuggest__suggestions-container
    max-height: 300px

.SupportPage__community-text,
.SupportPage__community-image
  width: 48%
  display: inline-block
  vertical-align: middle

.SupportPage__before-form
  margin-top: 40px

.SupportPage__info
  margin-top: 20px
  +size(small)
  color: $light-body-color

.SupportPage__form__send
  width: 50%