@import 'utils/colors.sass'
@import 'blocks/mixins.sass'

.UseCasesPage__title
  +size(hero)
  text-align: center
  margin-bottom: 60px

.UseCasesPage__website
  text-decoration: none
  display: block
  margin-bottom: 90px

$gutter: 5%

.UseCasesPage__gutter-sizer
  width: $gutter

.UseCasesPage__grid-sizer,
.UseCasesPage__website
  width: 100%

@media screen and (min-width: 1100px)
  .UseCasesPage__grid-sizer,
  .UseCasesPage__website
    width: (100% - 1 * $gutter) / 2

@media screen and (min-width: 1650px)
  .UseCasesPage__grid-sizer,
  .UseCasesPage__website
    width: (100% - 3 * $gutter) / 4

  .UseCasesPage__website--highlighted
    width: (100% - 3 * $gutter) / 4 * 2 + $gutter

.UseCasesPage__website-technologies
  position: absolute
  bottom: 10px
  right: 20px
  left: 0
  text-align: center

.UseCasesPage__website-technology
  padding: 8px 15px
  background-color: white
  border-radius: 5px
  color: $base-body-color
  display: inline-block
  margin-left: 10px
  +size(small)
  box-shadow: 0px 10px 25px 0 rgba(black, 0.2)
  margin-bottom: 10px

.UseCasesPage__website-technology-logo
  height: 20px
  display: inline-block
  vertical-align: middle

.UseCasesPage__website-technology-name
  display: inline-block
  vertical-align: middle
  margin-left: 6px

.UseCasesPage__use-case
  padding: 80px 50px
  display: flex

.UseCasesPage__use-case-title
  +size(bigger)
  margin-bottom: 20px

.UseCasesPage__use-case-content
  width: 300px
  margin-right: 120px

  @media screen and (min-width: 1300px)
    width: 400px

.UseCasesPage__use-case-description
  +size(small)

  @media screen and (min-width: 1300px)
    +size(normal)

.UseCasesPage__use-case-content-inner
  padding-bottom: 90px

.UseCasesPage__use-case-gallery
  flex: 1
