@import 'utils/colors.sass'
@import 'blocks/mixins'

.CallToAction
  text-align: center

.CallToAction__title
  +size(hero)
  margin-bottom: 30px

.CallToAction__no-card
  margin-top: 20px
  +size(small)
