@import 'utils/colors'
@import 'blocks/mixins'

.HomeWhoIsUsing__title
  text-transform: uppercase
  color: $light-body-color
  +weight(bold)
  +size(small)
  text-align: center

.HomeWhoIsUsing__items
  display: flex
  align-items: center
  justify-content: space-between

  img
    height: 40px
