@import 'utils/colors'
@import 'blocks/mixins'

.HomeWhoIsUsing__title
  text-transform: uppercase
  color: $light-body-color
  +weight(bold)
  +size(small)
  text-align: center

@media screen and (max-width: 999px)
  .HomeWhoIsUsing__items
    text-align: center
    max-width: 400px
    margin: 0 auto

    .react-reveal
      display: inline-block
      vertical-align: middle
      margin: 0 15px 15px

    img
      height: 32px

@media screen and (min-width: 1000px)
  .HomeWhoIsUsing__items
    display: flex
    align-items: center
    justify-content: space-between

    img
      height: 32px
