@import 'utils/colors'
@import 'blocks/mixins'
@import 'blocks/space'

.HomeWhoIsUsing
  padding-bottom: 4 * $space-unit

.HomeWhoIsUsing__title
  text-transform: uppercase
  color: $light-body-color
  +weight(bold)
  +size(small)
  text-align: center

.HomeWhoIsUsing__items
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  margin-left: -20px

  .react-reveal
    width: calc((100% - 5 * 20px) / 5)
    flex: 1 1 220px
    margin-bottom: 50px
    text-align: center
    margin-left: 20px

  img
    height: 40px
