@import 'utils/colors'
@import 'blocks/mixins'

.button
  display: inline-block
  // box-shadow: 0px 14px 25px 0 rgba(0, 0, 0, 0.12)
  background: linear-gradient(221.82deg, #C3C5C9 0%, #B8BCC3 55.81%, #ACADAF 100%)
  border-radius: 10px
  color: white
  text-decoration: none
  padding: 1.2em 1.2em 1em
  transition: opacity 200ms ease-in-out
  vertical-align: middle
  line-height: 1
  text-align: center
  box-sizing: border-box
  cursor: pointer

  &:hover
    opacity: 0.8

  &[disabled]
    opacity: 0.8

.button--red
  background: linear-gradient(221.82deg, #FF7059 0%, #FF664E 63.02%, #F2543A 100%);

.button--small
  padding: 1em 1em 0.8em

.button--normal-big
  padding: 0.9em 1.2em 0.7em
  +size(normalBig)

.button--expand
  width: 100%
  box-sizing: border-box

.button--big
  +size(big)

.button--border
  background: transparent
  border: 1px solid $border-color
  color: $base-body-color
