@import 'utils/colors.sass'
@import 'blocks/mixins.sass'

.HttpExample__headers
  margin-top: 20px

.HttpExample__header-name,
.HttpExample__header-value
  display: inline
  vertical-align: middle

.HttpExample__header-value
  margin-left: 8px

.HttpExample__placeholder
  font-weight: 700

.HttpExample__http-body
  margin-top: 20px
