@import 'utils/colors.sass'
@import 'blocks/mixins'
@import 'components/DocAside/content'

.LegalPage
  margin: 120px 0

  @media screen and (min-width: 900px)
    display: flex

.LegalPage__menu
  display: none

  @media screen and (min-width: 900px)
    display: block
    width: 20%
    flex-shrink: 0

@media screen and (min-width: 900px)
  .LegalPage__content
    flex: 1
    padding-left: 80px
    max-width: 100%
    overflow-x: auto

.LegalPage__menu-title
  +size(big)
  color: $light-body-color
  margin-bottom: 10px

.LegalPage__menu-back a
  display: block
  margin-top: 30px
  text-decoration: none
  color: $azure-color
  +weight(bold)
  +size(small)

  &:hover
    text-decoration: underline

.LegalPage__menu-page
  &:last-child
    margin-bottom: 15px

  a
    text-decoration: none
    color: $base-body-color

    &:hover
      color: $red-color

    &.is-active
      color: $red-color
      +weight(bold)

.LegalPage__content-title
  +size(hero)
  +weight(bold)

.LegalPage__content-category
  color: $light-body-color
  margin-bottom: 10px
  +size(big)

.LegalPage__content
  @media screen and (min-width: 900px)
    .content-body
      h1, h2, h3, h4, h5, h6, p, ul, ol
        max-width: 75%

