@import 'utils/colors.sass'
@import 'blocks/mixins.sass'

.HomeFeatures
  padding-bottom: 140px
  display: none

  @media screen and (min-width: 750px)
    display: block

.HomeFeatures__title
  +size(smallHero)
  line-height: 1.1
  font-weight: 500
  text-align: center
  margin-bottom: 60px

@media screen and (max-width: 1299px)
  .HomeFeatures__toc
    text-align: center
    margin-bottom: 30px

  .HomeFeatures__toc-item-button
    padding: 8px 13px

  .HomeFeatures__toc-item
    display: inline-block

    &:nth-child(n + 8)
      display: none

@media screen and (min-width: 1300px)
  .HomeFeatures__container
    display: flex
    align-items: center

  .HomeFeatures__left
    display: block
    width: 280px

  .HomeFeatures__right
    flex: 1

  .HomeFeatures__toc-item-button
    padding: 8px 0

.HomeFeatures__toc-item-button
  border: 0
  font-family: "colfax-web"
  color: $base-body-color
  text-align: left
  +size(small)
  background: transparent
  cursor: pointer
  transition: all 250ms ease-in-out

  &:focus
    outline: 0

  &:hover
    color: $red-color

  &--selected
    color: $red-color
    +weight(bold)

.HomeFeatures__feature
  display: flex
  justify-content: center
  align-items: center
  text-align: justify

.HomeFeatures__feature-image
  width: 420px

.HomeFeatures__feature-image-placeholder
  padding-top: 130%
  background-color: red

.HomeFeatures__feature-content
  width: 420px
  margin-left: 40px

  @media screen and (min-width: 900px)
    margin-left: 80px

.HomeFeatures__feature-title
  text-transform: uppercase
  color: $light-body-color
  +weight(bold)
  margin-bottom: 20px

.HomeFeatures__feature-description
  margin-bottom: 30px

  p
    margin-bottom: 10px

  a
    color: $azure-color

  strong
    +weight(bold)

.HomeFeatures__feature-container
  position: relative

.HomeFeatures__fade-enter
  opacity: 0
  transform: translateY(-50px)
  transition: all 250ms ease-in-out
  transition-delay: 250ms
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

.HomeFeatures__fade-enter-active
  opacity: 1
  transform: translateY(0px)

.HomeFeatures__fade-exit
  opacity: 1
  transition: all 250ms ease-in-out
  transform: translateY(0px)

.HomeFeatures__fade-exit-active
  opacity: 0
  transform: translateY(50px)
