---
title: Account Management API
---

<% content_for :sidebar do %>
  <div class="docs-toc">
    <%= api_toc("ama.md") %>
  </div>
<% end %>

<h1>Account Management API</h1>

<div class="markdown-body">
  <%= api_content("ama.md") %>
</div>
