---
title: Site Management API
---

<h1>Site Management API</h1>

<% content_for :sidebar do %>
  <div class="docs-toc">
    <%= api_toc("sma.md") %>
  </div>
<% end %>

<div class="markdown-body">
  <%= api_content("sma.md") %>
</div>

