.page-header
  text-align: center
  max-width: 700px
  margin: 0 auto

.page-header__title
  +heading-font-family
  +font-size(jumbo)

.page-header__subtitle
  +font-size(gamma)
  color: $light-body-color
  line-height: 1.4
