.page-header
  text-align: center
  margin: 0 auto

.page-header__inner
  +vertical-padding(8)

.page-header__title
  +heading-font-family
  +font-size(alpha)
  line-height: 1
  +margin-bottom(1)

.page-header__subtitle
  +font-size(gamma)
  color: $light-body-color
  font-weight: 400
  line-height: 1.4

.page-header--rev
  background-color: $red-color
  color: white

  .page-header__subtitle
    color: white
    font-weight: 300
    +font-size(delta)

+at-breakpoint(tab)
  .page-header__title
    +font-size(jumbo)

