.pricing__plan
  text-align: center
  position: relative
  z-index: 1

.pricing__plan__inner
  background-color: white

.pricing__plan__title
  +font-size(gamma)
  +heading-font-family
  +vertical-padding(2)
  text-transform: uppercase
  background-color: $yellow-color

.pricing__plan__target
  line-height: 1.3
  +padding(1.5)
  +padding-bottom(0)
  +font-size(15px)

.pricing__plan__price
  font-weight: 800
  line-height: 1
  +font-size(alpha)
  +vertical-padding(2)

.pricing__plan__price__amount
  display: inline-block

.pricing__plan__price__currency
  content: "$"
  +font-size(gamma)
  display: inline-block

.pricing__plan__price__infos
  margin-top: 5px
  +font-size(regular)
  display: block

.pricing__plan__price__subinfos
  font-weight: normal
  margin-top: 5px
  +font-size(milli)
  display: block

.pricing__plan__options
  background-color: $light-bg-color

.pricing__plan__option
  border-bottom: 1px solid $border-color
  line-height: 1
  +vertical-padding(1.2)
  +font-size(15px)

  &:last-child
    border-bottom-width: 0

  strong
    display: block
    margin-bottom: 5px
    +font-size(delta)

.pricing__plan--personal .pricing__plan__title
  background-color: #ff9e73
  color: white

.pricing__plan--single-page .pricing__plan__title
  background-color: #0fd3a0
  color: white

.pricing__plan--startup .pricing__plan__title
  background-color: #f93061
  color: white

.pricing__plan--brochure .pricing__plan__title
  background-color: #ff4c4c
  color: white

.pricing__plan--enterprise .pricing__plan__title
  background-color: #672b72
  color: white

+at-breakpoint(tab)
  .pricing__plan
    float: left
    width: 50%

  .pricing__plan__inner
    margin-left: 2px
    +vertical-margin(1)

+at-breakpoint(desk)
  .pricing
    +clearfix

  .pricing__plan
    float: left
    width: 19.5%
    box-sizing: border-box
    position: relative
    +margin-bottom(0)

    &:first-child
      margin-right: 2.5%

    .pricing__plan__inner
      transform: scale(1)
      transition: all .2s $material-ease

    &:hover
      z-index: 2

      .pricing__plan__inner
        transform: scale(1.2)
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2)

